.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* MY STYLES */

.try{
  border: 3px solid whitesmoke;
  padding: 20px;
  border-radius: 15px;
  transition: 1.5s;
}

.try:hover{
  transform: scale(1.2);
  background-color: whitesmoke;
  color: black;
}


.newStyle{
  border: 5px solid salmon;
  padding: 15px;
  border-radius: 10px 25px;
  color: salmon;
  background: snow;
  width: 400px;
}

.newV{
  color:lawngreen;
  font-size: 3em;
  font-family: 'Times New Roman', Times, serif;
}

